<%- if controller_name != 'sessions' %>
  <div class="mb-2">
    <%= link_to "ログイン", new_session_path(resource_name), class: "text-decoration-none" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="mb-2">
    <%= link_to "新規登録", new_registration_path(resource_name), class: "text-decoration-none" %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="mb-2">
    <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: "text-decoration-none" %>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="mb-2">
    <%= link_to "確認メールが届かない場合", new_confirmation_path(resource_name), class: "text-decoration-none" %>
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="mb-2">
    <%= link_to "アカウントロック解除方法", new_unlock_path(resource_name), class: "text-decoration-none" %>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="mb-2">
      <%= link_to "#{OmniAuth::Utils.camelize(provider)}でログイン", omniauth_authorize_path(resource_name, provider), class: "text-decoration-none" %>
    </div>
  <% end %>
<% end %>
